/* logo cursor color */
.logo__cursor {
  background-color: #ff7469;
}

/* dark theme colors */
body.dark-theme {
    --background: #101010;
    --background-secondary: #3b3d42;
    --header: #000000;
    --color: #dcdcdc;
    --color-secondary: #7a7a7a;
    --border-color: #363330;
}

/* homepage border */
.framed {
    border: 0px solid #ffffff00;
    border-radius: 10px;
    max-width: 800px;
    padding: 10px;
}

/* Do not display posts
div.posts {
    display: none;
}


.container {
    text-align: left;
} */


a:hover{ 
    transition: ease-in-out all .2s; 
    -moz-transition: ease-in-out all .2s;
    -webkit-transition: ease-in-out all .2s;
    background-color:none;
    color:#ff7469;
    text-decoration:none;
    font-weight:none;
}


a:active {
    color:#ff7469;
}